body{
    margin:0;
    padding: 0;
    font-family: arial, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}
#main{
    display: flex;
    flex-direction: row;
}
.add-address-content{
    width: 100%;
    margin-left: 20px;
    border-left: 2px solid rgb(4, 107, 210);
}