/*slider show*/
.slider-show-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-show {
    width: 1500px;
    height: 500px;
    overflow: hidden;
}

.slider-show .slider-show-items {
    width: 100%;
    display: flex;
    transition: transform 0.6s ease;
}

.slider-show .slider-show-items img {
    width: 1500px;
    height: 500px;
}

.button {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}

.buttons .left-nav {
    padding-left: 30px;
    left: 0;
    color: #b7b2b2;
    cursor: pointer;
}

.buttons .right-nav {
    padding-right: 30px;
    right: 0;
    color: #b7b2b2;
    cursor: pointer;
}

.buttons .left-nav:hover {
    padding-left: 30px;
    left: 0;
    color: black;
    cursor: pointer;
}

.buttons .right-nav:hover {
    padding-right: 30px;
    right: 0;
    color: black;
    cursor: pointer;
}

.index-dots {
    width: 100%;
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-dots .dot {
    margin-left: 5px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b7b2b2;
    cursor: pointer;
}

.index-dots .dot.active {
    margin-left: 5px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

/*section product*/
section {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 20px;
}

section .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 211px;
    background-color: rgb(4, 107, 210);
    text-align: center;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    margin-bottom: 10px;

}

section .title-section span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

section .show-more-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .showMoreSection {
    margin-bottom: 10px;
    width: 120px;
    height: 39px;
    background-color: rgb(4, 107, 210);
    color: white;
    border: 1px solid rgb(4, 107, 210);
    border-radius: 4px;
    margin-top: 25px;
}

section .list-product-by-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*feedback customer*/
.customer-feedback .title {
    text-align: center;
    padding-top: 20px;
    color: rgb(4, 107, 210);
    font-weight: bolder;
    font-size: 20px;
}

.customer-feedback .container-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.customer-feedback .container-feedback span {
    width: 315px;
    height: 369px;
    padding: 20px 60px;
}

.customer-feedback .container-feedback .customer-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.customer-feedback .container-feedback .customer-name {
    color: rgb(4, 107, 210);
    font-weight: bolder;
    padding: 10px;
}

.customer-feedback .container-feedback .customer-review {
    color: rgb(0, 0, 0, 0.5);
}

/*commit from shop*/
.commit {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.commit .content-commit {
    padding-right: 120px;
    padding-left: 20px;
    padding-top: 40px;
}

.commit .img-shop img {
    height: 400px;
    width: 560px;
    padding-left: 120px;
}

.commit .content-commit ol li {
    list-style: none;
    padding: 12px;
}

/*article*/
.list-article-of-admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wrap-article-item {
    height: 357px;
    width: 277px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.wrap-article-item:hover {
    height: 357px;
    width: 277px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px;
    margin: 12px;
    display: flex;
    flex-direction: column;
}
.wrap-footer-article {
    font-size: 14px;
}
.title-article-of-admin {
    text-decoration: underline;
    margin-bottom: 10px;
}
.sub-description {
    flex: 1;
    font-weight: lighter;
}
.read-more-article {
    margin-bottom: 10px;
    color: rgb(4, 107, 210);
}