body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.news-detail-container {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
}

.news-meta {
  color: #046bd2;
  font-size: 15px;
  margin-bottom: 15px;
}

.news-meta i {
  margin-right: 5px;
}

.news-content p,
u,
li {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 8px;
  color: #444;
}

.news-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-content h4 {
  font-size: 19px;
  margin-bottom: 10px;
}

.news-image {
  display: flex;
  justify-content: center;
}

.news-image img {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.news-container {
  display: flex;
  gap: 20px;
  max-width: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.news-title {
  font-size: 30px;
  color: #222;
  margin-bottom: 20px;
}

.news-container .news-image {
  flex: 2;
}

.news-container .news-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.news-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #222;
  line-height: 1.4;
}

.news-container .news-content {
  flex: 2;
}

.news-container .news-content p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #444;
}

.news-description {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.comment-section {
  margin-top: 40px;
  border-top: 2px solid #eee;

  padding-top: 25px;
}

.comment-section h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.comment-note {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.required {
  color: red;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 20px;
}

textarea,
input[type="text"],
input[type="email"] {
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  resize: none;
}

textarea:focus,
input:focus {
  border-color: #046bd2;
  outline: none;
}

.btn-submit {
  background: #046bd2;
  color: white;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  align-self: flex-start;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #024b9b;
}
