body{
    margin:0;
    padding:0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.header-page{
    width: 100%;
    height: 200px;
}
h1{
    text-align: center;
    padding-top: 115px;
}

.container{
    padding-left: 40px;
}
.checkout{
    margin-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.note{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
}
.user-address{

    background-color: #f5f5f5;

}
.address{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 20px;

}
.change-address{
    background-color:#FFD700 ;
    border: none;
}
.focus{
    color: red;
}
.change-address{
    width: 50%;
    height: 20px;
}
.phone-number{
    margin-right: 20px;
}
.products{
    width: 65%;
    margin-bottom: 50px;
}
#heading-product {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    margin: 0;
    padding: 1.5em 1.5em 1em;
    border-color: #046bd2;

}
.name-user ,
.address-detail,
.focus,
.change-address{
    margin-left: 20px;
}
#order-review{
    padding: 0 2em;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: #046bd2;

}
.shop-table{
    border-width: 0;
    margin-bottom: 2em;
    border-radius: 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
}
tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;

}

#order-review th{
    border-top: 0;
    border-right: 0;
    padding-left: 0;
    border-color: #046bd2;
    border-bottom: 1px solid #046bd2;

}
table.shop-table td{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #046bd2;
}

table td th{
    border: 1px solid #046bd2;
}
#order-review th:last-child{
    text-align: right;
    padding-right: 18px;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
#order-review td.product-name{
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.price-amount{
    text-align: right;
}
.product-total{
    text-align: right;
    padding-right: 0;
}
#order-review  td{
    text-align: right;
}
.ast-product-name{
    text-align: left;
}
tfoot{
    display: table-footer-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
#payment{
    border-radius: 0;
}
ul.payment-methods{
    padding: 0;
    margin-bottom: 1em;
    border-bottom: 0;
    zoom: 1;
    text-align: left;
    list-style: none outside;
    margin: 0;
}
#payment ul.payment-methods li{
    line-height: 2;
    text-align: left;
    font-weight: 400;
}

#payment ul.payment-methods li {

    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
    flex-wrap: wrap;
}


.payment-method-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}


#payment ul.payment-methods li input[type="radio"] {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 0;
}


#payment ul.payment-methods li label {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 20px;
    flex-grow: 1;
}
.cod-sub, .bank-sub {
    width: calc(100% - 30px);
    margin-left: 30px;
    margin-top: 5px;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 3px;
    border-left: 3px solid #046bd2;
    font-weight: normal;
}
#payment input{
    height: 20%;
    width: 20%;
}
.term-and-conditions{
    display: flex;
    line-height: 1.5;
}
.button_order{
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #FFD700;
    border: none;
}
.button_order:hover{
    background-color: #FFD400;
    cursor: pointer;

}
.text-voucher{
    border: 1px solid #046bd2;
    height: 35px;
    width: 90%;
}