body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
}

.sidebar-product {
  border-right: 1px solid #046bd2;
  padding: 20px;
  width: 280px;
}

.sidebar-product h3 {
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 2px solid #046bd2;
  padding-bottom: 5px;
}

.sidebar-product .search-box {
  display: flex;
  margin-bottom: 15px;
}

.sidebar-product .search-box input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.sidebar-product .search-box button {
  padding: 6px 10px;
  border: 1px solid #046bd2;
  background-color: #046bd2;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.product-categories,
.product-categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category {
  margin-bottom: 8px;
}

.category-title {
  display: block;
  color: #024c9a;
  padding: 6px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.category-title:hover {
  background-color: #046bd2;
  color: #fff;
  padding-left: 12px;
}

.sub-category {
  display: block;
  padding-left: 25px;
  margin-top: 6px;
}

.sub-category li a {
  display: block;
  padding: 4px 8px;
  margin-left: 10px;
  font-size: 14px;
  color: #024c9a;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sub-category li a:hover {
  background-color: #046bd2;
  color: #fff;
  padding-left: 14px;
}

/*Sản phẩm*/
.container-product-item.two-column {
  display: flex;
  gap: 20px;
  border-radius: 6px;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.container-product-item .product-image {
  flex: 0 0 45%;
}

.container-product-item .product-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.container-product-item .product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-product-item .title-product-item {
  font-size: 22px;
  font-weight: bolđ;
  margin-bottom: 10px;
  color: #046bd2;
}

.price-product-item {
  margin-bottom: 10px;
  font-size: 26px;
}

.price-product-item .original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
}

.price-product-item .sale-price {
  color: red;
  font-weight: bold;
}

.action-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0 20px 0;
}

.quantity-row {
  display: flex;
  align-items: center;
  border: 1px solid #046bd2;
  overflow: hidden;
}

.quantity-btn {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.quantity-btn:last-child {
  border-right: none;
}

.quantity-btn:hover {
  background: #e2e2e2;
}

.quantity-input {
  width: 45px;
  height: 35px;
  text-align: center;
  border: none;
  border-right: 1px solid #046bd2;
  border-left: 1px solid #046bd2;
  font-size: 16px;
  outline: none;
}

.add-to-cart-btn {
  padding: 10px 18px;
  border-radius: 6px;
  background-color: #046bd2;
  color: #fff;
  font: bold;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.add-to-cart-btn:hover {
  background-color: #024b9b;
}

.product-info ul {
  list-style: disc;
}

.product-info li {
  margin-bottom: 6px;
}
/*Mô tả*/
.product-description-container {
  padding-left: 20px;
  border-top: 1px solid #046bd2;
}

.product-description-container img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto 15px auto;
  border-radius: 6px;
  object-fit: cover;
}

.product-description-container {
  margin-top: 10px;
}

.product-description-container h3 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #046bd2;
  font-weight: 600;
}

.product-description-container h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-description-container p,
.product-description-container li {
  line-height: 1.6;
}

.product-description-container ul {
  padding-left: 20px;
}
/*đánh giá*/
.review-container {
  padding-left: 20px;
  border-top: 1px solid #046bd2;
}

.review-container h3 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #046bd2;
  font-weight: 600;
}

.review-container {
  margin-bottom: 10px;
}
.review-container .required {
  color: red;
}

.review-form label {
  display: block;
  margin: 10px 0 6px;
  font-weight: 600;
}

.rating-stars {
  display: flex;
  flex-direction:row-reverse ;
  justify-self: left; 
  gap: 5px;
}

.rating-stars input {
  display: none;
}

.rating-stars label {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label {
  color: #ffcc00;
}

.rating-stars input:checked ~ label,
.rating-stars input:checked ~ label ~ label {
  color: #ffcc00;
}


.review-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #046bd2;
  resize: vertical;
}

.form-row-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
}

.form-row {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.review-input {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #046bd2;
}

.checkbox-row {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.submit-review-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #046bd2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-review-btn:hover {
  background: #024c9a;
}
