.container {
    display: flex;
    flex-direction: row;
}

.container .content {
    flex: 1;
}

.container-product-item {
    width: 190px;
    height: 332px;
    margin: 10px;
}

/*wrap-above-content*/
.container .content .wrap-above-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container .content .wrap-above-content .name-category {
    font-weight: bolder;
    margin-bottom: 10px;
}

.container .content .wrap-above-content .ordering .order-by {
    height: 35px;
}

/*wrap-center-content*/
.content .wrap-center-content {
    margin-bottom: 36px;
}

.container .content .wrap-center-content .products-grid-5 {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(5, 1fr);
}

/*wrap-below-content*/
.container .content .wrap-below-content {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .wrap-below-content .btn-show-more {
    width: 400px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(4, 107, 210);
    background-color: rgb(4, 107, 210);
}

.container .content .wrap-below-content .btn-show-more:hover {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: 1px solid #024b9b;
    background: #024b9b;
}

.add-item-to-cart {
    display: none !important;
}