body {
  font-family: "arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
}

.sidebar-main {
  border-right: 1px solid rgb(4, 107, 210);
  padding: 20px;
  width: 260px;
}

.sidebar-main h3 {
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(4, 107, 210);
  padding-bottom: 5px;
}

.sidebar-main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-main li {
  margin-bottom: 4px;
}

.sidebar-main a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 0px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: #024c9a;
}

.sidebar-main a:hover {
  padding-left: 12px;
  background-color: rgb(4, 107, 210);
  color: #fff;
  transform: translateX(4px);
}

.content {
  width: 75%;
  padding-left: 30px;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 5px;
}

.content h3 {
  font-size: 26px;
  padding: 0px;
  margin-bottom: 10px;
  color: rgb(4, 107, 210);
}

/* Filter */
.filter-bar {
  background: #f5f9ff;
  border: 1px solid #046bd2;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.filter-bar h3 {
  margin: 0 0 12px 0;
  font-size: 20px;
  color: #024c9a;
  font-weight: bold;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}


.filter-item label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #024c9a;
}

.filter-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #046bd2;
  border-radius: 5px;
  outline: none;
}

.filter-item button {
  width: 100%;
  padding: 10px;
  background: #046bd2;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin-top: 19px;
}

.filter-item button:hover {
  background: #024c9a;
}

/* Kết quả tìm kiếm*/
.result-summary {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Danh sách sản phẩm */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-bottom: 40px;
}

.product-item {
  border: 1px solid #046bd2;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease;
  background: #fff;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.product-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.product-name {
  font-size: 18px;
  color: #024c9a;
  margin: 10px 0 5px 0;
}

.product-price {
  font-size: 16px;
  color: #d60000;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-view {
  display: inline-block;
  background: #046bd2;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.btn-view:hover {
  background: #024c9a;
}

