body {
  font-family: "arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
}

.content {
  width: 75%;
  padding-left: 30px;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 5px;
}

.content h3 {
  font-size: 26px;
  padding: 0px;
  margin-bottom: 10px;
  color: rgb(4, 107, 210);
}

/* Filter */
.filter-bar {
  background: #f5f9ff;
  border: 1px solid #046bd2;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.filter-bar h3 {
  margin: 0 0 12px 0;
  font-size: 20px;
  color: #024c9a;
  font-weight: bold;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.filter-item label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #024c9a;
}

.filter-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #046bd2;
  border-radius: 5px;
  outline: none;
}

.filter-item button {
  width: 100%;
  padding: 10px;
  background: #046bd2;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin-top: 19px;
}

.filter-item button:hover {
  background: #024c9a;
}

/* Kết quả tìm kiếm*/
.result-summary {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Danh sách sản phẩm */
.container-product-item {
  width: 190px;
  height: 332px;
  margin: 10px;
}

.content .wrap-center-content {
  margin-bottom: 36px;
}

.container .content .wrap-center-content .products-grid-5 {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: repeat(4, 1fr);
}
