body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
}

.sidebar-main {
  border-right: 1px solid rgb(4, 107, 210);
  padding: 20px;
  width: 260px;
}

.sidebar-main h3 {
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(4, 107, 210);
  padding-bottom: 5px;
}

.sidebar-main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-main li {
  margin-bottom: 4px;
}

.sidebar-main a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 0px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: #024c9a;
}

.sidebar-main a:hover {
  padding-left: 12px;
  background-color: rgb(4, 107, 210);
  color: #fff;
  transform: translateX(4px);
}

.content {
  width: 75%;
  padding-left: 20px;
}

.content h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.content h3 {
  padding: 0px;
  margin: 10px 10px 10px 0px;
}

.content p {
  margin: 10px 10px 10px 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
