body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background: #F0F0F0;
}
#main{
    display: flex;
    flex-direction: row;
}
.entry-content{
    line-height: 30px;
    padding: 20px;
    counter-reset: footnotes;
    width: 100%;
    word-wrap: break-word;
}
.entry-content ol{
    padding: revert;
    margin: revert;
    padding-left: 20px;
}
li{
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}
