.container {
    display: flex;
    flex-direction: row;
}

.content-warranty-policy {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

ol li {
    margin-left: 20px;
}

p {
    line-height: 30px;
}
