

.main-container{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex: 1;
}

.add-address-content{
    flex: 1;
    width: 100%;
    border-left: 2px solid rgb(4, 107, 210);

}
.container{
    padding-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-address{
    margin-top: 20px;
    width: 50%;

}

input{
    margin-bottom: 10px;
    width: 100%;
}
input{
    height: 40px;
}
.province{
    width: 50%;
}
.district{
    width: 50%;
}
.checkbox-status{
    height: 20px;
    width: 20px;
}
.btn-done-cancel{
    width: 100%;
    display: flex;
    gap: 10px;
}
.btn-done,
.btn-cancel{
    width: 50%;
    height: 30px;
    background-color: #FFB900;
    border: none;
    border-radius: 5px;
}
.btn-done,
.btn-cancel:hover{
    cursor: pointer;
    background-color: #FFB100;

}
select{
    height: 40px;
    width:100%;
    margin-bottom: 10px;
}
.checkbox-status-d{
    display: flex;
    align-content: center;
    gap: 10px;
}
/* Lớp phủ toàn màn hình */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Màu đen mờ */
    z-index: 9999; /* Z-index cao theo yêu cầu */
    display: none; /* Mặc định ẩn */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

/* Hiệu ứng xoay loading (tùy chọn để đẹp hơn) */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.product-total{
    padding-right: 5px;
}