* {
    font-family: Arial, sans-serif;
}


.wrap-all-content {
    height: 100vh;
}

.title-for-page {
    margin-left: 40px;
    margin-top: 40px;

}

.main-content-admin {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
}

.wrap-find-info-product {
    width: 1200px;
    height: 40px;
    margin: 20px;
}

.wrap-find-info-product form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.wrap-find-info-product form .input-product-id {
    height: 36px;
    width: 500px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.wrap-find-info-product form .filter-by-category {
    height: 36px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.wrap-find-info-product form .submit-data {
    height: 36px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgb(4, 107, 210);
    color: white;
    border: 1px solid rgb(4, 107, 210);
}


.board-res-product {
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.board-res-product form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-res-product table {
    width: 1200px;
    border-collapse: collapse;
}

.board-res-product thead {
    text-align: start;
    border-bottom: rgb(0, 0, 0, 0.1) solid 1px;
}

.board-res-product thead th {
    text-align: center;
}

.board-res-product tbody tr {
    text-align: center;
    height: 30px;
    border-bottom: rgb(0, 0, 0, 0.1) solid 1px;
}

.underline-dong {
    text-decoration: underline;
}

.status-product {
    height: 20px;
    width: 20px;
}

.wrap-load-more {
    height: 36px;
    width: 130px;
    margin: 30px;
    padding-left: 70%;
}

.load-more {
    text-align: center;
    height: 36px;
    width: 130px;
    background-color: rgb(4, 107, 210);
    color: white;
    border: 1px solid rgb(4, 107, 210);
    border-radius: 10px;
}

.load-more:hover {
    height: 36px;
    text-align: center;
    width: 130px;
    background: #024b9b;
    color: white;
    border: 1px solid rgb(4, 107, 210);
    border-radius: 10px;
}

.prod-img {
    height: 80px;
    width: 80px;
    margin-left: 10px;
}

.img-product-var {
    height: 80px;
    width: 80px;
    margin-left: 10px;
}

.edit-product {
    display: flex;
    flex-direction: row;
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.edit-product.head-edit {
    margin-left: 92%;
    font-size: 25px;
}

.edit-product-add-prod {
    color: green;
    margin: 2px;
    font-size: 32px;
}

.edit-product-remove {
    color: red;
    margin: 2px;
}

.edit-product-var-remove {
    color: red;
    margin: 2px;
}

.edit-product-var-update {
    color: blue;
    margin: 2px;
}

.edit-product-add-var {
    color: green;
    margin: 2px;
}

.edit-product-update {
    color: blue;
    margin: 2px;
}

.edit-product-show-var {
    color: darkviolet;
    margin: 2px;
}

/*popup*/
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 1240px;
    border-radius: 8px;
    max-height: 80vh; /* Giới hạn chiều cao tối đa theo viewport */
    overflow-y: auto;
}

.popup-content label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.product-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-item img {
    width: 80px;
    height: auto;
    border: 1px solid #ccc;
}

.popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.popup-content.edit-product-content {
    width: 600px;
}

#editProductForm input {
    width: 100%;
    margin-left: 12px;
    height: 40px;

}

#editProductForm textarea {
    margin-left: 12px;
    width: 100%;
    height: 40px;
}

#closeVariants {
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(4, 107, 210);
    width: 70px;
    height: 40px;
    background-color: rgb(4, 107, 210);

    margin-left: 92%;
}

#submit-update-product {
    color: white;
    border-radius: 10px;
    border: 1px solid green;
    width: 100px;
    height: 40px;
    background-color: green;
    margin-left: 30%;
}

#closeEdit {
    color: white;
    border-radius: 10px;
    border: 1px solid red;
    width: 100px;
    height: 40px;
    background-color: red;
    margin-right: 30%;
}

.remove-img {
    color: white;
    border-radius: 10px;
    border: 1px solid red;
    width: 50px;
    height: 20px;
    background-color: red;
}

#popup-confirm {
    padding-top: 10%;
}

#popup-confirm .popup-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#confirmForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#popup-confirm .popup-content #confirmNo {
    color: white;
    border-radius: 10px;
    border: 1px solid red;
    width: 100px;
    height: 40px;
    background-color: red;
    margin-left: 10%;
}

#popup-confirm .popup-content #confirmYes {
    color: white;
    border-radius: 10px;
    border: 1px solid green;
    width: 100px;
    height: 40px;
    background-color: green;
    margin-right: 10%;
}

.image-url-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.image-url-item input {
    height: 30px;
}

.image-url-item input[type="text"] {
    flex: 1;
}

#popup-add-product .popup-content {
    width: 800px;
}

#popup-add-edit-variant .popup-content {
    width: 800px;
}

#popup-add-product .form-input {
    width: 100%;
    height: 40px;
    margin: 5px;
}

#variantForm .form-input {
    width: 100%;
    height: 40px;
    margin: 5px;
}

#editVariantForm .form-input {
    width: 100%;
    height: 40px;
    margin: 5px;
}

#popup-add-product .wrap-status-product {
    display: flex;
    flex-direction: row;
    width: 400px;
    font-size: 20px;
}

.wrap-button-cancel-submit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wrap-button-cancel-submit .submit {
    color: white;
    border-radius: 10px;
    border: 1px solid green;
    width: 100px;
    height: 40px;
    margin-right: 30px;
    background-color: green;
    margin-left: 10%;
}

.wrap-button-cancel-submit .close {
    color: white;
    border-radius: 10px;
    border: 1px solid red;
    width: 100px;
    height: 40px;
    margin-lefts: 30px;
    background-color: red;
    margin-right: 10%;
}