body {
  font-family: "arial", sans-serif;
  margin: 0;
  padding: 0;
}

.wrap-content-all {
    display: flex;
    flex-direction: row;
}

.wrap-content-all .main-content {
    flex: 1;
    border-left: 2px solid rgb(4, 107, 210);
}

.main-content {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.title-account {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-account-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-2 {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.required {
  color: red;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.note-display-name {
  font-size: 13px;
  color: #666;
  margin-top: 5px;
}

.change-pass-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.btn-save-changes {
  padding: 12px;
  background: #046bd2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 200px;
  margin-top: 10px;
}

.btn-save-changes:hover {
  background: #035bb5;
}
