.container-shopping-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-shopping-cart .title-shopping-cart {
    padding-top: 10px;
}

.container-shopping-cart .info-flex {
    display: flex;
    justify-content: center;
}

.container-shopping-cart .info-flex.hidden {
    display: none;
}

/*item product*/
.container-shopping-cart .info-flex .info-items {
    width: 1000px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container-shopping-cart .info-flex .items-form {
    width: 100%;

}

.container-shopping-cart .info-flex .info-items .items-table {
    border: rgb(4, 107, 210) solid 1px;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

.container-shopping-cart .info-flex .info-items th {
    text-align: start;
    padding-left: 10px;
    padding-top: 10px;
}

.container-shopping-cart .info-flex .info-items td {
    text-align: start;
    padding-left: 10px;
}

.container-shopping-cart .info-flex .info-items thead {
    border-bottom: rgb(4, 107, 210) solid 1px;
}

.container-shopping-cart .info-flex .info-items tr {
    border-bottom: rgb(4, 107, 210) solid 1px;
}

.row-item .icon-remove i {
    cursor: pointer;
}

.row-item .icon-remove i:hover {
    cursor: pointer;
    color: red;
}

/*bill product*/
.container-shopping-cart .info-flex .bill-products {
    border: rgb(4, 107, 210) solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.container-shopping-cart .info-flex .bill-products h2 {
    padding-bottom: 10px;
}

.container-shopping-cart .info-flex .bill-products table {
    margin: 0;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

.container-shopping-cart .info-flex .bill-products table tbody tr {
    margin: 10px;
    width: 100%;
    border-bottom: rgb(4, 107, 210) solid 1px;
    border-top: rgb(4, 107, 210) solid 1px;

}

.container-shopping-cart .info-flex .bill-products table tr th {
    text-align: start;
    padding: 16px;
}

.container-shopping-cart .info-flex .bill-products .process-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#inputVoucherAtCart {
    width: 200px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    border: black solid 1px;

}

#btnApplyVoucherAtCart {
    height: 48px;
    padding: 5px;
    background-color: rgb(4, 107, 210);
    border-radius: 10px;
    border: white solid 1px;
    color: white;
}

#btnGotoCheckout {
    width: 290px;
    height: 48px;
    background-color: rgb(4, 107, 210);
    color: white;
    border-radius: 10px;
    border: white solid 1px;
    margin-top: 10px;
}

.quantity-wrap .btn {
    border: 1px solid rgb(4, 107, 210);
    background-color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

tbody img {
    width: 70px;
    height: 70px;
}

a {
    text-decoration: none;
    color: rgb(4, 107, 210)
}

#quantityIncItemCart, #quantityDecItemCart {
    font-size: 25px;
    text-align: center;
}.quantity-input {
     display: flex;
     align-items: center; /* Căn giữa theo chiều dọc */
     justify-content: center; /* Căn giữa theo chiều ngang (nếu muốn) */
     gap: 5px; /* Khoảng cách giữa các nút */
 }

/* Xử lý thẻ span bao quanh form */
.num-quantity-item {
    display: flex;
    align-items: center;
}

/* Quan trọng: Chuyển form từ Block sang Inline-block */
.num-quantity-item form {
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Tinh chỉnh ô input */
.num-quantity-item input[type="number"] {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    /* Loại bỏ mũi tên tăng giảm mặc định của trình duyệt để gọn hơn */
    -moz-appearance: textfield;
}

.num-quantity-item input[type="number"]::-webkit-outer-spin-button,
.num-quantity-item input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Định dạng các nút cộng trừ */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.2s;
}

.btn:hover {
    background-color: #e0e0e0;
}