/*Item product*/
.item-wrap {
    width: 190px;
    height: 332px;
    margin-bottom: 5px;
}

.container-product-item {
    width: 190px;
    height: 332px;
    margin: 10px;
    position: relative; /* Quan trọng: thêm position relative cho container chính */
}

.item-wrap .container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Đổi từ center sang space-between */
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 50px; /* Tạo khoảng trống cho button */
}

.item-wrap .container-item .image-product-item {
    flex-shrink: 0;
}

.item-wrap .container-item .image-product-item img {
    padding-top: 10px;
    width: 174px;
    height: 230px;
    border-radius: 4px;
}

.item-wrap .container-item .title-product-item {
    width: 174px;
    min-height: 50px;
    font-weight: bolder;
    font-size: 1em;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.item-wrap .container-item .price-product-item-after-sale {
    padding-right: 16px;
    width: 174px;
    font-size: 18px;
    text-align: end;
    color: red;
    margin-bottom: 5px;
    font-weight: bolder;
}

.item-wrap .container-item .price-product-item {
    padding-right: 16px;
    width: 174px;
    font-size: 18px;
    text-align: end;
    color: #878787;
    font-weight: bolder;
    text-decoration: line-through;
}

.container-product-item .wrap-btn-search-similar {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.container-product-item .wrap-btn-search-similar .search-similar {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(4, 107, 210);
    color: white;
    border: rgb(4, 107, 210) 1px solid;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.container-product-item:hover .wrap-btn-search-similar .search-similar {
    opacity: 1;
    visibility: visible;
}

.container-product-item:hover .wrap-btn-search-similar .search-similarcart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline_dong {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
}

.container .content {
    flex: 1;
}

/*wrap-above-content*/
.container .content .wrap-above-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container .content .wrap-above-content .name-category {
    font-weight: bolder;
    margin-bottom: 10px;
}

.container .content .wrap-above-content .ordering .order-by {
    height: 35px;
}

/*wrap-center-content*/
.content .wrap-center-content {
    margin-bottom: 36px;
}

.container .content .wrap-center-content .products-grid-5 {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(5, 1fr);
}

/*wrap-below-content*/
.container .content .wrap-below-content {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .wrap-below-content .btn-show-more {
    width: 400px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(4, 107, 210);
    background-color: rgb(4, 107, 210);
}

.container .content .wrap-below-content .btn-show-more:hover {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: 1px solid #024b9b;
    background: #024b9b;
}