.item-wrap {
    width: 190px;
    height: 332px;
    margin-bottom: 5px;
}

.container-item:hover #product-item:hover {
    width: 190px;
    height: 332px;
    position: relative;
}

.item-wrap .container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.item-wrap .container-item .title-product-item {
    padding: 5px;
    width: 174px;
    min-height: 50px;
    font-weight: bolder;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #000000;
}

.title-product-item a:visited {
    color: #000000;
}

.item-wrap .container-item .price-product-item {
    padding-right: 16px;
    width: 174px;
    font-size: 18px;
    text-align: end;
    color: red;
    padding-bottom: 10px;
    margin-top: 10px;
    font-weight: bolder;
}

.item-wrap .container-item .image-product-item img {
    padding-top: 10px;
    width: 174px;
    height: 230px;
    border-radius: 4px;
}

.container-product-item   .wrap-btn-search-similar {
    margin-bottom: 20px;
}

.container-product-item   .wrap-btn-search-similar .search-similar {
    display: none;
}

.container-product-item:hover  .wrap-btn-search-similar .search-similar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-product-item  .wrap-btn-search-similar .search-similar {
    position: absolute;
    width: 190px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(4, 107, 210);
    color: white;
    border: rgb(4, 107, 210) 1px solid;
}

.underline_dong {
    text-decoration: underline;
}